<div>
    <div style="display: flex; align-items: center;">
        <span>
            <h2>List of Employees</h2>
        </span>
        <span style="margin-left: auto;">
            <button class="button" (click)="navigateToAddEmployee()">Add Employee</button>
        </span>
    </div>
    
    <table class="employee-table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Email</th> 
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.employeeName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.role }}</td>
                <td><button class="Edit" (click)="navigateToEditEmployee(employee)">Edit</button>
                    <span class="button-gap"></span>
                    <button class="delete" (click)="navigateToEDeletemployee(employee)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>


</div>