<div>
    <div style="display: flex; align-items: center;">
        <span>
            <h2>List of LeaveTypes</h2>
        </span>
        <span style="margin-left: auto;">
            <button class="button" (click)="navigateToAddLeaveType()">Add LeaveType</button>
        </span>
    </div>
    <table class="leave-table">
        <thead>
            <tr>
                <th>#</th>
                <th>leaveTypeName</th>
                <th>defaultLeaves </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leaveType of  adminLeaveLeaveTypes; let i =index">
                <td>{{i +1}}</td>
                <td>{{ leaveType.leaveTypeName }}</td>
                <td>{{ leaveType.defaultLeaves }}</td>
                <td><button class="Edit" (click)="navigateToEditLeave(leaveType)">Edit</button>
                    <span class="button-gap"></span>
                    <button class="delete" (click)="navigateToEDeleteLeave(leaveType)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>

</div>