
.leave-request-list {
  margin-top: 20px;
}



.leave-table {
  width: 100%;
  border-collapse: collapse;
}

.leave-table th, .leave-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.leave-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.leave-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leave-table tbody tr:hover {
  background-color: #ddd;
}
