<div class="container">
    <h2>Leave Balances</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Leave Type</th>
                <th>Current Balance</th>
                <th>Default Allocation </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let balance of leaveBalance">
                <td>{{ balance.leaveType.leaveTypeName }}</td>
                <td>{{ balance.leaveBalance }}</td>
                <td>{{ balance.leaveType.defaultLeaves }}</td>
            </tr>
        </tbody>
    </table>
</div>

